<div id="results">
    <div class="row" id="card-top-2">
        <div class="col"></div>
        <div id="question-cd" class="card col" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title">Answer</h5>
                <p>Explanation</p>
                <button type="submit" class="btn">NEXT</button>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>