<%- include("partials/header") -%>
<h1> Learn Financial Literacy</h1>

<hr>
<div class="row row-cols-1 row-cols-md-1 g-1">
    <div class="col">
        <br>
        <div id = "box" class="card h-100 even">
          <div class="card-body">
            <h1 id="alignment4" class="card-title">Learn More</h1>
            <p id="alignment4" class="card-text">Click to learn more and earn streaks.</p>
            <button type="button" class="btn btn-outline-primary float-center">Learn More</button>      
          </div>
        </div>
      </div>
      <br>
  <div class="col">
    <br>
    <div id = "box" class="card h-100 odd">
      <div class="card-body">
        <h1 id="alignment1" class="card-title">Budgeting</h1>
        <p id="alignment1" class="card-text">Click to see recent articles about Budgeting.</p>
        <p id="alignment5" class="TopArticles">Current top 3 Articles relevant to Budgetting</p>
            <a href="https://www.canada.ca/en/financial-consumer-agency/services/budget-student-life.html">
                <button type="button" class="btn btn-outline-primary float-end">Government of Canada</button>
            </a>
            <a href="https://arrivein.com/finance/mind-over-money-how-to-budget-for-student-life-in-canada/">
                <button type="button" class="btn btn-outline-primary float-end">Arrive In</button>
            </a> 
            <a href="https://www.cbc.ca/news/canada/prince-edward-island/pei-budgeting-tips-for-post-secondary-students-1.6161498">
                    <button type="button" class="btn btn-outline-primary float-end">CBC</button>
            </a>  
      </div>
     </div>
    </div>
    <br>
  <div class="col">
    <br>
    <div id = "box" class="card h-100 even">
      <div class="card-body">
        <h1 id="alignment2" class="card-title">Taxes</h1>
        <p id="alignment2" class="card-text">Click to see recent articles about Taxes.</p>
        <p id="alignment3" class="TopArticles">Current top 3 Articles relavant to Taxes</p>
        <a href="https://www.cpacanada.ca/en/business-and-accounting-resources/taxation/canadian-tax-news">
            <button type="button" class="btn btn-outline-primary float-start">CPA Canada</button>
        </a>
        <a href="https://globalnews.ca/tag/canada-taxes/">
            <button type="button" class="btn btn-outline-primary float-start">Global News</button>
        </a> 
        <a href="https://www.cbc.ca/news/canada/prince-edward-island/pei-budgeting-tips-for-post-secondary-students-1.6161498">
            <button type="button" class="btn btn-outline-primary float-start">CBC</button>
        </a>       
      </div>
    </div>
  </div>
  <br>
  <div class="col">
    <br>
    <div id = "box" class="card h-100 odd">
      <div class="card-body">
        <h1 id="alignment1" class="card-title">Debt Management</h1>
        <p id="alignment1" class="card-text">Click to see recent articles about Debt Management.</p>
        <p id="alignment5" class="TopArticles">Current top 3 Articles relavant to Debt Management</p>
        <a href="https://www.creditcanada.com">
            <button type="button" class="btn btn-outline-primary float-end">Credit Canada</button>
        </a>
        <a href="https://arrivein.com/finance/mind-over-money-how-to-budget-for-student-life-in-canada/">
            <button type="button" class="btn btn-outline-primary float-end">Arrive In</button>
        </a> 
        <a href="https://www.cbc.ca/news/canada/prince-edward-island/pei-budgeting-tips-for-post-secondary-students-1.6161498">
            <button type="button" class="btn btn-outline-primary float-end">CBC</button>
        </a>       
      </div>
    </div>
  </div>
  <br>
  <div class="col">
    <br>
    <div id = "box" class="card h-100 even">
      <div class="card-body">
        <h1 id="alignment2" class="card-title">Recessions</h1>
        <p id="alignment2" class="card-text">Click to see recent articles about Recessions.</p>
        <p id="alignment3" class="TopArticles">Current top 3 Articles relavant to Recessions</p>
        <a href="https://www.canada.ca/en/financial-consumer-agency/services/budget-student-life.html">
            <button type="button" class="btn btn-outline-primary float-start">Government of Canada</button>
        </a>
        <a href="https://arrivein.com/finance/mind-over-money-how-to-budget-for-student-life-in-canada/">
            <button type="button" class="btn btn-outline-primary float-start">Arrive In</button>
        </a> 
        <a href="https://www.cbc.ca/news/canada/prince-edward-island/pei-budgeting-tips-for-post-secondary-students-1.6161498">
            <button type="button" class="btn btn-outline-primary float-start">CBC</button>
        </a>       
      </div>
    </div>
  </div>
  <br>
  <div class="col">
    <br>
    <div id = "box" class="card h-100 odd">
      <div class="card-body">
        <h1 id="alignment1" class="card-title">Post Secondary</h1>
        <p id="alignment1" class="card-text">Click to see recent articles about Post Secondary.</p>
        <p id="alignment5" class="TopArticles">Current top 3 Articles relavant to Post Secondary</p>
        <a href="https://www.canada.ca/en/financial-consumer-agency/services/budget-student-life.html">
            <button type="button" class="btn btn-outline-primary float-end">Government of Canada</button>
        </a>
        <a href="https://arrivein.com/finance/mind-over-money-how-to-budget-for-student-life-in-canada/">
            <button type="button" class="btn btn-outline-primary float-end">Arrive In</button>
        </a> 
        <a href="https://www.cbc.ca/news/canada/prince-edward-island/pei-budgeting-tips-for-post-secondary-students-1.6161498">
            <button type="button" class="btn btn-outline-primary float-end">CBC</button>
        </a>       
      </div>
    </div>
  </div>
  </div>
</div>

<%- include("partials/footer") -%>
