<%- include("partials/header") -%>
<h1>Topics</h1>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 odd">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Budgeting</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-outline-success">Play Now</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 even">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Taxes</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-outline-warning">Play Now</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 odd">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Debt Management</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-outline-success">Play Now</button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 even">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Recessions</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-outline-warning">Play Now</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 odd">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Saving for Post-Secondary</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-outline-success">Play Now</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 even">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Credit Cards</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-outline-warning">Play Now</button>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100 odd">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Investing</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-outline-success">Play Now</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 even">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Trading</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-outline-warning">Play Now</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 odd">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Financial Markets</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-outline-success">Play Now</button>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer") -%>
